<aside>
    <div class="widget">
        <h3>Iniciar Sesión</h3>
        <form>
            <input type="email" name="mail" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>
    <div class="widget">
        <h3>Últimas entradas</h3>
        <ul>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odit provident quod iste ratione, voluptate magni aut possimus autem, corporis cumque soluta id ipsa eos vitae esse perspiciatis veritatis voluptatem?
        </blockquote>
    </div>
</aside>