<section id="content">
    <h1>Últimas Noticias</h1>

    <article>
        <h2>El desarrollo de software es mi pasión</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit at corrupti suscipit porro, veritatis, quos, similique sint consequuntur laborum vel ullam nulla. Harum at doloremque, molestias voluptate eos quibusdam quam?</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>El desarrollo de software es mi pasión</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit at corrupti suscipit porro, veritatis, quos, similique sint consequuntur laborum vel ullam nulla. Harum at doloremque, molestias voluptate eos quibusdam quam?</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>El desarrollo de software es mi pasión</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit at corrupti suscipit porro, veritatis, quos, similique sint consequuntur laborum vel ullam nulla. Harum at doloremque, molestias voluptate eos quibusdam quam?</p>
        <a href="#">Leer más >></a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>...</li>
        <li><a href="#">23</a></li>
    </ul>
</section>